body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.game-container {
    width: 99vw;
    height: 99vh;
    margin: auto;
    padding: 2vw;
    background-color: #fff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    border-radius: 0.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    color: #333;
    font-size: 4vw; /* Adjust as needed */
}

.game-info {
    margin: 1vw 0;
    font-size: 2vw; /* Adjust as needed */
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin-top: 2vw;
}

.card {
    background-color: #4CAF50;
    border: none;
    border-radius: 0.4vw;
    color: white;
    padding: 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vw; /* Adjust as needed */
    margin: 0.4vw 0.2vw;
    transition-duration: 0.4s;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 20vw; /* Adjust size as needed */
    height: 20vw; /* Adjust size as needed */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.card-back {
    background: #efefef;
    color: #333;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.card:hover {
    background-color: #45a049;
}

#restart-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 1.5vw 3.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vw; /* Adjust as needed */
    margin: 2vw 0;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #007ba7;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 6vw;
    }

    .game-info {
        font-size: 3vw;
    }

    .card {
        font-size: 2vw;
        width: 40vw;
        height: 40vw;
    }

    #restart-button {
        font-size: 2vw;
        padding: 2vw 4vw;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 8vw;
    }

    .game-info {
        font-size: 4vw;
    }

    .card {
        font-size: 3vw;
        width: 60vw;
        height: 60vw;
    }

    #restart-button {
        font-size: 3vw;
        padding: 3vw 5vw;
    }
}
